/* Hero Configs */
.hero-content {
  max-width: 1366;
  height: 750;
  padding-top: 120px;
  padding-bottom: 183px;

  text-align: center;
}

.hero {
  height: 750px;
  background-image: url(/Assets/BG/Background_Intro.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  padding-bottom: 56px;
}

.main-text {
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 8px;
}

h4 {
  padding-top: 20px;
}

.Tecnologias {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  gap: 16px;
}
/* end  */

/* Projects Configs */
.projects {
  background-color: var(--cor-gray-500);
  padding: 72px 20px;
  margin: 0 auto;
}

.project-text {
  text-align: center;
  margin-bottom: 48px;
}

.project-card {
  background-color: var(--cor-gray-400);
  padding: 17px;
  border-radius: 12px;
  color: var(--cor-gray-100);

  display: flex;
  flex-direction: column;
  max-width: 1040px;
}

.project-card img {
  width: 100%;
  border-radius: 8px;
  padding-bottom: 20px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  max-width: 1200px;
  margin: 0 auto;
}

.services {
  margin: 0 auto;
  padding-top: 86px;
  max-width: 1366px;
  height: 480px;
}

.cards-container {
  width: 100%;
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  padding: 20px;
  border: 2px solid var(--cor-gray-500);
  border-radius: 12px;
}

.card h5 {
  padding-top: 20px;
}

p {
  padding-top: 8px;
}

.contato {
  width: 100%;
  padding-top: 128px;
  text-align: center;
  background-image: url(/Assets/BG/Background_Contacts.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 787px;
}
.redes {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.sociais {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-gray-400);
  border-radius: 8px;
  gap: 12px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  height: 68px;
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 28px;
  height: 28px;
}

.seta {
  width: 20px;
  height: 20px;
}
